.app{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.bkg{
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(16px);
  background-color: #77777770;
}

.container{
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  top: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55vh 20vh;
  
}

.citiesC{
  display: flex;
  height: 26vh;
  background-color: #ffffff56;
  backdrop-filter: blur(3px);
  justify-content: center;
}

.searchGrid{
  display: grid;
  grid-template-columns: 30vw 55vw;
  grid-template-rows: 10vh 45vh;
  overflow: hidden;
}

.ciudad{
  display: flex;
    grid-column: 2;
    grid-row: 2;
    color: aliceblue;
}

.app, .container{
  background-image: url("../img/bkg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 1rem;
}

@media (max-width: 764px){
  .ciudad{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    color: aliceblue;
    margin-left: 10px;
    font-size: x-small;
  }
}